<ion-view title="Cadastro" id="cadastro">
  <ion-content padding="true" scroll="false" class="has-header">
    <form id="cadastro-form5" class="list">
      <ion-list id="cadastro-list4">
        <label class="item item-input item-stacked-label" id="cadastro-input13" name="name">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="Ex: José João">
        </label>
        <label class="item item-input item-stacked-label" id="cadastro-input14" name="tel_fixo">
          <span class="input-label">Telefone Fixo</span>
          <input type="text" placeholder="(00) 0000-0000">
        </label>
        <label class="item item-input item-stacked-label" id="cadastro-input15" name="tel_celular">
          <span class="input-label">Telefone Celular</span>
          <input type="text" placeholder="(00) 0000-0000">
        </label>
        <label class="item item-input item-stacked-label" id="cadastro-input16" name="cod_condominio">
          <span class="input-label">Cod. Condomínio</span>
          <input type="text" placeholder="xxxxxxxx">
        </label>
        <label class="item item-input item-stacked-label" id="cadastro-input17" name="apto">
          <span class="input-label">Apartamento</span>
          <input type="text" placeholder="xxxxxxxx">
        </label>
      </ion-list>
    </form>
    <a ui-sref="login" id="cadastro-button22" class="button button-royal  button-block">Cadastrar</a>
  </ion-content>
</ion-view>