<ion-view title="notícias" id="noticias">
  <ion-content padding="true" class="has-header">
    <div class="card">
		  <div class="item item-text-wrap">
		    <header><h2>Titulo da notícia</h2></header>
		    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
		  </div>
		</div>

		<div class="card">
		  <div class="item item-text-wrap">
		    <header><h2>Titulo da notícia</h2></header>
		    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
		  </div>
		</div>

		<div class="card">
		  <div class="item item-text-wrap">
		    <header><h2>Titulo da notícia</h2></header>
		    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
		  </div>
		</div>
  </ion-content>
</ion-view>