<ion-view title="perfil" id="perfil">
  <ion-content padding="true" class="has-header">
    <form id="perfil-form3" class="list">
      <label class="item item-input item-stacked-label" id="perfil-input5" name="name">
        <span class="input-label">Nome</span>
        <input type="text" disabled ng-model="user.nome" placeholder="Nome do Cliente">
      </label>
      <label class="item item-input item-stacked-label" id="perfil-input6" name="tel_fixo">
        <span class="input-label">Telefone Fixo</span>
        <input type="text" disabled ng-model="user.telefone" placeholder="(00) 0000-0000">
      </label>
      <label class="item item-input item-stacked-label" id="perfil-input7" name="tel_fixo">
        <span class="input-label">Telefone Celular</span>
        <input type="text" disabled ng-model="user.celular" placeholder="(00) 0000-0000">
      </label>
      <label class="item item-input item-stacked-label" id="perfil-input8" name="cod_condominio">
        <span class="input-label">Cód. Condomínio</span>
        <input type="text" disabled ng-model="user.condominio" placeholder="xxxxxxxx">
      </label>
      <label class="item item-input item-stacked-label" id="perfil-input9" name="apto">
        <span class="input-label">Apartamento</span>
        <input type="text" disabled ng-model="user.apartamento" placeholder="xxx">
      </label>
    </form>
  </ion-content>
</ion-view>